body {
    background-color: gold;
}
#notebook {
    float: left;
    width: 45%;
}
#paper {
    background-color: white;
    float: right;
    width: 50%;
    height: 500px;
}
#buttons {
    float: right;
}
.CodeMirror {
    height: 400px;
    border: 1px solid #ddd;
}
.CodeMirror-scroll {
    max-height: 500px;
}
.CodeMirror pre {
    line-height: 1.25;
}
