body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  padding: 1rem;
  background-color: lightslategray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > * {
  flex-grow: 1;
  margin: 1rem;
}

.visualization {
  display: flex;
  flex-direction: column;
}

#notebook {
  width: 45%;
}

#paper {
  background-color: #fff;
  flex-basis: 50%;
  height: 500px;
}

#buttons {
  align-self: flex-end;
}

.CodeMirror {
  height: 400px;
  border: 1px solid #ddd;
}

.CodeMirror-scroll {
  max-height: 500px;
}

.CodeMirror pre {
  line-height: 1.25;
}
