html {
    background-color: #808080;
}
body {
    font-family: "Lucida Console";
    font-size: 14px;
    color: #000;
}
.CodeMirror { 
    left: 10px;
    width: 50%;
    height: 400px;
    border: 1px solid #ddd; 
}
.CodeMirror-scroll { 
    max-height: 500px; 
}
.CodeMirror pre { 
    padding-left: 0px; 
    line-height: 1.25; 
}